img {
  margin: 10px;
  border: 5px solid #555;
  width: 10%;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#reset {
  background-color: #f44336;
  color: white;
}

#verify {
  background-color: #4caf50;
  color: white;
}

#para {
  font-weight: bold;
  margin-top: 20px;
}
